@media only screen and (max-width: 800px) {

   h1 {
      font-weight: 400;
      font-size: 1.953rem;
   }

   h2 {
      font-weight: 400;
      font-size: 1.563rem;
   }

   h3 {
      font-weight: 400;
      font-size: 1.25rem;
   }

   main,
   section {
      padding-left: 15px;
      padding-right: 15px;
   }

   .navbar {
      flex-direction: column;
   }

   .main {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      gap: 0;

      .main-image {
         width: fit-content;
         padding: 25px;

         img {
            max-width: 250px;
         }

         .image-1 {
            top: 10px;
            right: 0;
         }

         .image-2 {
            top: 50px;
            right: -10px;
         }

         //  mirror for .image-1
         .image-3 {
            top: 195px;
            right: 0;
         }

         //  mirror for .image-2
         .image-4 {
            top: 220px;
            right: -70px;
         }

         .main-eclipse {
            width: 300px;
            height: 300px;
         }
      }

      .main-text {
         justify-content: center;
         align-items: center;
         padding: 25px;

         h1,
         p {
            text-align: center;
         }
      }
   }


   .main .main-signup {
      //padding: 0;
      // max-width: 100%;
      border: 1px solid skyblue;
      text-align: center;
   }


   .main .main-signup .main-signup-input {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      align-self: flex-start;
      border: 1px solid skyblue;
      max-width: 100%;

      .signup-input {
         align-self: flex-start;
         padding: 0 25px;
         border: 1px solid skyblue;
      }
   }
}

.section-offers {
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 25px;
   gap: 10px;

   svg {
      width: 40px;
      height: 40px;
   }

   .section-offers-info h4 {
      font-size: large;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px),
(orientation: landscape) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}