// variables
$fonts: 'Poppins', Helvertica, sans-serif;
$primary-colorOne: #141414;
$primary-colorTwo: #f5f5f5;
$primary-colorThree: #C69749;
$primary-colorFour: #D9D9D9;

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

h1 {
   font-weight: 400;
   font-size: 3.815rem;
}

h2 {
   font-weight: 400;
   font-size: 3.052rem;
}

h3 {
   font-weight: 400;
   font-size: 2.441rem;
}

h4 {
   font-weight: 400;
   font-size: 1.953rem;
}

h5 {
   font-weight: 400;
   font-size: 1.563rem;
}

h6 {
   font-weight: 400;
   font-size: 1.25rem;
}

p,
button {
   font-weight: 300;
   font-size: 1rem;
}

body {
   overflow-y: scroll;
   overflow-x: hidden;
   font-family: $fonts;
   background-color: #141414;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 0 120px;
   max-height: fit-content;
}

.navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 70px;
   padding: 0px;
   gap: 10px;
   color: $primary-colorTwo;
   // border: 1px solid seashell;
}

.navbar-logo h3 {
   width: fit-content;
   height: auto;
   font-style: normal;
   font-weight: 800;
   font-size: 30px;
   /* identical to box height */
   line-height: 45px;
   text-align: center;
   background: radial-gradient(50% 50% at 50% 50%, $primary-colorTwo 0%, #C69749 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.navbar-link {
   display: flex;
   justify-content: space-around;
   align-items: center;
   // border: 1px skyblue solid;
   gap: 5px;
}

.navbar-link:last-child {
   padding-right: 5px;
}

.navbar-link .navbar-li {
   // border: 1px skyblue solid;
   list-style-type: none;
}

.navbar-link .navbar-li a {
   display: block;
   /* identical to box height */
   line-height: 70px;
   color: $primary-colorTwo;
   text-decoration: none;
   padding: 0 25px;
}

.navbar-link .navbar-li a:hover {
   color: $primary-colorFour;
}

.main {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 25px;
   width: 100%;
   height: auto;
   // border: 1px solid seashell;
}

.main .main-text {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   gap: 25px;
   padding: 70px 0px 0px 0px;
   // border: 1px solid seashell;
}

.main .main-h1 {
   font-weight: 800;
   line-height: 1em;
   color: $primary-colorTwo;
   // border: 1px solid seashell;
}

.main .main-p {
   max-width: 380px;
   color: $primary-colorTwo;
   line-height: 1.3em;
   // border: 1px solid seashell;
}

.main .main-h1 span {
   background: radial-gradient(85.83% 85.83% at 50% 50%, $primary-colorTwo 0%, #C69749 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

// section sign-up
.main .main-signup {
   display: flex;
   flex-direction: column;
   gap: 10px;
   background: radial-gradient(47.85% 1353.38% at 19.54% 58.38%,
         rgba(255, 255, 255, 0.3) 0%,
         rgba(217, 217, 217, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
   ;
   border-radius: 10px;
   padding: 25px;
}

.main .main-signup .main-signup-h1 h5 {
   background: linear-gradient(186.45deg, #FFFFFF 54.69%, #C69749 94.94%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}

.main .main-signup .main-signup-input {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   padding: 0px;
   gap: 20px;
}

.main .main-signup .main-signup-input .signup-input {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   align-self: flex-end;
   gap: 5px;
   color: $primary-colorTwo;
}

.main .main-signup .main-signup-input .signup-input input {
   width: 100%;
   height: 30px;
   padding: 5px;
   border-radius: 10px;
   border: none;
}

.main .main-signup .main-signup-input .signup-input button {
   width: auto;
   height: 30px;
   font-family: $fonts;
   padding: 5px 15px;
   border-radius: 10px;
   border: none;
   background-color: $primary-colorThree;
}

.main .main-image {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50px;
   right: 0;
}

.main .main-image .main-eclipse {
   width: 472.6px;
   height: 470px;
   background: radial-gradient(50% 50% at 50% 50%, #C69749 0%, rgba(217, 217, 217, 0) 100%);
   opacity: 0.8;
   z-index: -1;
}

.main .main-image img {
   max-width: 78%;
}

.main .main-image .image-1 {
   position: absolute;
   top: 0;
   right: 30px;
}

.main .main-image .image-2 {
   position: absolute;
   top: 70px;
   right: 0;
   transform: rotate(-19.45deg);
}

//  mirror for .image-1
.main .main-image .image-3 {
   position: absolute;
   top: 274px;
   right: 30px;
   opacity: .5;
   mix-blend-mode: soft-light;
   transform: scaleY(-1);
   z-index: -1;
}

//  mirror for .image-2
.main .main-image .image-4 {
   position: absolute;
   top: 326px;
   right: -96px;
   opacity: .5;
   mix-blend-mode: soft-light;
   transform: rotate(-19.45deg) scaleY(-1);
   z-index: -1;
}

// section-offers
.section-offers {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 25px;
   padding: 25px 50px;
   // border: 1px solid skyblue;
}

.section-offers .section-offers-info {
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-offers .section-offers-info h4 {
   margin-top: 60px;
   padding: 10px 5px;
   background: linear-gradient(180deg, #C69749 0%, #FFFFFF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}