* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 3.815rem;
}

h2 {
  font-weight: 400;
  font-size: 3.052rem;
}

h3 {
  font-weight: 400;
  font-size: 2.441rem;
}

h4 {
  font-weight: 400;
  font-size: 1.953rem;
}

h5 {
  font-weight: 400;
  font-size: 1.563rem;
}

h6 {
  font-weight: 400;
  font-size: 1.25rem;
}

p,
button {
  font-weight: 300;
  font-size: 1rem;
}

body {
  font-family: "Poppins", Helvertica, sans-serif;
  background-color: #141414;
  overflow-x: hidden;
  margin: 0 auto;
}

main,
section,
.navbar {
  padding-left: 125px;
  padding-right: 125px;
  margin: 0 auto;
  max-width: 1440px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}
.navbar .navbar-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.navbar .navbar-link li {
  list-style-type: none;
}
.navbar .navbar-link li a {
  display: block;
  color: #C69749;
  font-weight: 600;
  text-decoration: none;
  padding: 0 25px;
}
.navbar .navbar-link li a:hover {
  color: #D9D9D9;
}
.navbar .navbar-logo h3 {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  /* identical to box height */
  line-height: 45px;
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, #f5f5f5 0%, #C69749 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  gap: 25px;
  width: 100%;
  height: auto;
}
.main .main-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 50px 0;
  gap: 25px;
}
.main .main-text h1 {
  font-weight: 800;
  line-height: 1em;
  color: #f5f5f5;
}
.main .main-text h1 span {
  background: radial-gradient(85.83% 85.83% at 50% 50%, #f5f5f5 0%, #C69749 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.main .main-text p {
  max-width: 380px;
  color: #f5f5f5;
  line-height: 1.3em;
}
.main .main-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px;
}
.main .main-image .main-eclipse {
  width: 350px;
  height: 350px;
  background: radial-gradient(50% 50% at 50% 50%, #C69749 0%, rgba(217, 217, 217, 0) 100%);
  opacity: 0.8;
  z-index: -1;
}
.main .main-image img {
  max-width: 320px;
}
.main .main-image .image-1 {
  position: absolute;
  top: 10px;
  right: 30px;
}
.main .main-image .image-2 {
  position: absolute;
  top: 50px;
  right: 10px;
  transform: rotate(-19.45deg);
  z-index: 1;
}
.main .main-image .image-3 {
  position: absolute;
  top: 246px;
  right: 30px;
  opacity: 0.5;
  mix-blend-mode: soft-light;
  transform: scaleY(-1);
}
.main .main-image .image-4 {
  position: absolute;
  top: 270px;
  right: -68px;
  opacity: 0.5;
  mix-blend-mode: soft-light;
  transform: rotate(-19.45deg) scaleY(-1);
}

.section-offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.section-offers .section-offers-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-offers .section-offers-info h4 {
  padding: 10px 5px;
  background: linear-gradient(180deg, #C69749 0%, #FFFFFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.section-sign-up {
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-sign-up .sign-up {
  display: flex;
  flex-direction: column;
  background: radial-gradient(47.85% 1353.38% at 19.54% 58.38%, rgba(255, 255, 255, 0.3) 30%, rgba(217, 217, 217, 0) 100%);
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #C69749;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}
.section-sign-up .sign-up h4 {
  background: linear-gradient(186.45deg, #FFFFFF 54.69%, #C69749 94.94%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 600;
  padding-bottom: 15px;
}
.section-sign-up .sign-up .sign-up-content {
  display: flex;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
  gap: 15px;
}
.section-sign-up .sign-up .sign-up-content .sign-up-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  gap: 10px;
  color: #C69749;
  font-weight: 600;
}
.section-sign-up .sign-up .sign-up-content .sign-up-input input {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 8px;
  border: none;
}
.section-sign-up .sign-up .sign-up-content .sign-up-input button {
  width: 100px;
  height: 30px;
  font-family: "Poppins", Helvertica, sans-serif;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #FFFFFF;
  color: #C69749;
  font-weight: 500;
}
.section-sign-up .sign-up .sign-up-content .sign-up-input button:hover {
  cursor: pointer;
  background-color: #141414;
  color: #C69749;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */